/* Select styling */
select option {
  background-color: white;
  color: rgb(15, 23, 42);
  padding: 8px 12px;
  border: none;
  font-size: 14px;
}

select option:hover {
  background-color: rgb(30, 144, 255);
  color: white;
}

select option:checked {
  background: linear-gradient(rgb(30, 144, 255), rgb(30, 144, 255));
  background-color: rgb(30, 144, 255);
  color: white;
}

select option:disabled {
  background-color: rgb(241, 245, 249);
  color: rgb(148, 163, 184);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  select option {
    background-color: rgb(15, 23, 42);
    color: rgb(226, 232, 240);
  }

  select option:hover {
    background-color: rgb(30, 144, 255);
  }

  select option:checked {
    background-color: rgb(30, 144, 255);
    color: white;
  }

  select option:disabled {
    background-color: rgb(30, 41, 59);
    color: rgb(100, 116, 139);
  }
}
